{{#if snippets }}
    <div class="row">
        {{#each snippets }}
            <div class="view">
                <h4 id="snippet-title">{{this.title}}</h4>
                <pre><code>{{this.snippet}}</code></pre>
                <form class="delete-button" action="/delete/{{id}}" method="post">
                <a class="update-button" href="/update/{{id}}">Update</a>
                <button class="delete-btn" type="submit">Delete</button>
                </form>
                <span>Created by: {{this.username}}</span>
                <br>
                <span>Posted: {{this.createdAt}}</span>
                <br>
            </div>  
        {{/each}}
    </div>
{{/if}}