{{#if snippets}}
<div class="row">
    {{#each snippets}}
    <div class="view">
        <h4>{{this.title}}</h4>
        <pre><code>{{this.snippet}}</code></pre>
        <form class="delete-button" action="/delete/{{id}}" method="POST">
        <a class="btn btn-primary" href="/snippets/update/{{id}}">Update</a>
        <button class="btn btn-danger" type="submit">Delete</button>
        </form>
        <span>Created by: {{this.username}}</span>
        <br>
        <span>Posted: {{this.createdAt}}</span>
        <br>
    </div>
    {{/each}}
</div>
{{/if}}